[submodule "oh-my-zsh"]
	path = profiles/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "zlldb"]
	path = profiles/lldb/zlldb
	url = git@github.com:everettjf/zlldb.git
[submodule "LLDB"]
	path = profiles/lldb/LLDB
	url = git@github.com:DerekSelander/LLDB.git
