[submodule "oh-my-zsh"]
	path = profiles/oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "profiles/zsh-syntax-highlighting"]
	path = profiles/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "profiles/lldb/zlldb"]
	path = profiles/lldb/zlldb
	url = git@github.com:everettjf/zlldb.git
[submodule "profiles/lldb/dk_lldb"]
	path = profiles/lldb/dk_lldb
	url = git@github.com:DerekSelander/LLDB.git
