## zlldb
command script import ~/.zlldb/main.py

##chisel
command script import /opt/homebrew/opt/chisel/libexec/fblldb.py

## https://github.com/DerekSelander/LLDB
command script import ~/.dk_lldb/lldb_commands/dslldb.py

## others see https://github.com/ddrccw/mac-config/blob/master/.lldbinit